@{
    ViewData["Title"] = "Rejestracja użytkownika";
}
<h2>@ViewData["Title"]</h2>

<p>Tu będzie się znajdował formularz rejestracji nowego użytkownika.</p>
<p>Tu będzie się znajdował formularz rejestracji nowego użytkownika.</p>
<p>Tu będzie się znajdował formularz rejestracji nowego użytkownika.</p>
<p>Tu będzie się znajdował formularz rejestracji nowego użytkownika.</p>
