@model PipsiProject.Models.CarModel

@{
    ViewData["Title"] = "Zmiana parametrów";
}

<h2>Zmiana parametrów</h2>

<h4>@Model.Marka @Model.Model</h4>
<hr />

   
<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row col-sm-12">

        <div class="col-sm-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Marka" class="control-label"></label>
                <input asp-for="Marka" class="form-control" />
                <span asp-validation-for="Marka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Klasa" class="control-label"></label>
                <div class="form-inline">

                    <input asp-for="Klasa" name="Klasa" type="radio" id="Ekonomiczna" class="form-control" value="Ekonomiczna" />
                    <label asp-for="Klasa" for="Ekonomiczna" class="control-label">Ekonomiczna</label>
                </div>
                <div class="form-inline">

                    <input asp-for="Klasa" name="Klasa" type="radio" id="Sportowa" class="form-control" value="Sportowa" />
                    <label asp-for="Klasa" for="Sportowa" class="control-label">Sportowa</label>
                </div>
                <div class="form-inline">

                    <input asp-for="Klasa" name="Klasa" type="radio" id="Luksusowa" class="form-control" value="Luksusowa" />
                    <label asp-for="Klasa" for="Luksusowa" class="control-label">Luksusowa</label>
                    <span asp-validation-for="Klasa" class="text-danger"></span>
                </div>
            </div>


        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="PojSilnika" class="control-label"></label>
                <input asp-for="PojSilnika" class="form-control" />
                <span asp-validation-for="PojSilnika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Przebieg" class="control-label"></label>
                <input asp-for="Przebieg" class="form-control" />
                <span asp-validation-for="Przebieg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RokProd" class="control-label"></label>
                <input asp-for="RokProd" type="month" class="form-control" />
                <span asp-validation-for="RokProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paliwo" class="control-label"></label>
                <input asp-for="Paliwo" class="form-control" />
                <span asp-validation-for="Paliwo" class="text-danger"></span>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Kolor" class="control-label"></label>
                <input asp-for="Kolor" type="text" class="form-control" />
                <span asp-validation-for="Kolor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <input asp-for="Cena" class="form-control" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CarImage.ImageTitle" class="control-label"></label>
                <input asp-for="CarImage.ImageTitle" class="form-control" />
                <span asp-validation-for="CarImage.ImageTitle" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label class="control-label" asp-for="CarImage.ImageFile"></label>
                <input class="form-control-static" asp-for="CarImage.ImageFile" value="CarImage.ImageName" accept="image/png, image/jpg, image/jpeg" />
                <span asp-validation-for="CarImage.ImageFile" class="text-danger"></span>
            </div>

        </div>

    </div>

    <div class="col-sm-2">
        <div class="btn-block btn-group-vertical form-group">
            <input class="btn  btn-block " style="margin:10px 0px; background-color:#3e3e3e; color:white " type="submit" value="Zapisz" />

            <a class="btn  btn-block " style="margin:10px 0px; background-color:#ff6a00; color:white " asp-action="Index">Anuluj</a>
        </div>
    </div>
</form>