@model PipsiProject.Models.CarModel

@{
    ViewData["Title"] = "Zmiana parametrów";
}

<h2>Edit</h2>

<h4>CarModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Marka" class="control-label"></label>
                <input asp-for="Marka" class="form-control" />
                <span asp-validation-for="Marka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Klasa" class="control-label"></label>
                <input asp-for="Klasa" class="form-control" />
                <span asp-validation-for="Klasa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PojSilnika" class="control-label"></label>
                <input asp-for="PojSilnika" class="form-control" />
                <span asp-validation-for="PojSilnika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Przebieg" class="control-label"></label>
                <input asp-for="Przebieg" class="form-control" />
                <span asp-validation-for="Przebieg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RokProd" class="control-label"></label>
                <input asp-for="RokProd" class="form-control" />
                <span asp-validation-for="RokProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paliwo" class="control-label"></label>
                <input asp-for="Paliwo" class="form-control" />
                <span asp-validation-for="Paliwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kolor" class="control-label"></label>
                <input asp-for="Kolor" class="form-control" />
                <span asp-validation-for="Kolor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <input asp-for="Cena" class="form-control" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>

            
    
           

            <div class="form-group">
                <input class="btn btn-default" type="submit" value="Zapisz" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>

